@import 'variables';

.box-width{
   margin-top:1rem;
   width:60%;
}

.btn{
   text-decoration: none;
   padding:0.5rem 1.5rem;
   border-radius:20px;
   background: $primary-color;
   text-align: center;
}

.link-btn{
   color:$light-color;
   display: block;
}

.block-dark{
   background: $dark-bright;
}

.block-light{
   background: $primary-color;
}

// .list-item{
//    list-style: none;
// }