@import 'variables';

.box-width{
   margin-top:1rem;
   // width:55%;
}

a{
   text-decoration: none;
}

.btn{
   padding:0.5rem 1.5rem;
   border-radius:20px;
   background: $primary-color;
   text-align: center;
}

.link-btn{
   color:$light-color;
   display: block;
}

.block{
   font-size: 0.85rem;
   margin-right: 0.65rem;
   border-radius: 4px;
   padding: 0.25rem 0.5rem;
}

.block-dark{
   background: $dark-bright;
}

.block-light{
   background: $primary-color;
}

// .list-item{
//    list-style: none;
// }